@using Microsoft.AspNetCore.Http
@model IEnumerable<JobPortal.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_JobseekerLayout.cshtml";

    IEnumerable<Category> categories = ViewData["category"] as IEnumerable<Category>;

}

<div class="job-search-container">
    <div class="inner-box">
        <div class="search-box">
            <h4 class="title">
                Find Jobs, Employment &amp; Career Opportunities
            </h4>
            <h1 class="heading">
                Search Between More Then
                <span> 50,000 </span>Open Jobs.
            </h1>
            <div class="input-box">
                <form action="/Jobseeker/SearchJobs" method="get">
                    <div class="input-filed">
                        <input type="text" placeholder="Job Title Or KeyWord" name="title" required/>
                        <span class="icon"><i class="fas fa-search"></i></span>
                    </div>
                    <div class="input-filed">
                        <input type="text" placeholder="Location" name="location"/>
                        <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="input-filed">
                        <div class="select-box">
                            <input type="text" readonly class="select" placeholder="Select Category" name="category"/>
                            <span class="icon"><i class="fas fa-angle-down"></i></span>
                        </div>
                        <div class="option">
                            <a href="">Select Sector</a>
                            @foreach (var item in categories)
                            {
                                <a href="">@item.CategoryName</a>
                            }
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">Find Job</button>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="category-container">
    <div class="container">
        <div class="category-box">
            <div class="icon">
                <i class="fal fa-pencil-paintbrush"></i>
            </div>
            <a href="#" class="name">Design, Art &amp; Multimedia</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-book-reader"></i>
            </div>
            <a href="#" class="name">Education Training</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-wallet"></i>
            </div>
            <a href="#" class="name">Accounting/Finance</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-cloud-upload"></i>
            </div>
            <a href="#" class="name">Human Resource</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-phone-rotary"></i>
            </div>
            <a href="#" class="name">Telecommunication</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-burger-soda"></i>
            </div>
            <a href="#" class="name">Restuarant/Food Service</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-user-hard-hat"></i>
            </div>
            <a href="#" class="name">Construction/Facility</a>
            <h4 class="count">198 Open Positions</h4>
        </div>

        <div class="category-box">
            <div class="icon">
                <i class="fal fa-briefcase-medical"></i>
            </div>
            <a href="#" class="name">Health</a>
            <h4 class="count">198 Open Positions</h4>
        </div>
    </div>
    <a href="#" class="category-btn">All Category</a>

</div>

<div class="city-container">

    <div class="container">

        <h1 class="title">Featured Cities</h1>
        <p class="sub-title">20+ Featured Cities Added Jobs</p>

        <div class="flex-box">

            <div class="box" style="background-image:url(../images/surat.jpg);">
                <div class="inner-box">
                    <h3>Surat</h3>
                </div>
            </div>

            <div class="box"
                 style="background-image: url(../images/ahmedabad.jpg);">
                <div class="inner-box">
                    <h3>Ahmedabad</h3>
                </div>
            </div>

            <div class="box"
                 style="background-image: url(../images/mumbai.jpg);">
                <div class="inner-box">
                    <h3>Mumbai</h3>
                </div>
            </div>

            <div class="box" style="background-image: url(../images/delhi.jpg);">
                <div class="inner-box">
                    <h3>Delhi</h3>
                </div>
            </div>

            <div class="box"
                 style="background-image: url(../images/Chennai-.jpg);">
                <div class="inner-box">
                    <h3>Chennai</h3>
                </div>
            </div>

            <div class="box"
                 style="background-image: url(../images/noaida.jpg);">
                <div class="inner-box">
                    <h3>Noida</h3>
                </div>
            </div>

            <div class="box"
                 style="background-image: url(../images/bangalore-dne.jpg);">
                <div class="inner-box">
                    <h3>Bangalore</h3>
                </div>
            </div>

            <div class="box" style="background-image: url(../images/pune.jpg);">
                <div class="inner-box">
                    <h3>Pune</h3>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="recent-jobs-container">

    <h1 class="title">Recent Jobs</h1>
    <h3 class="sub-title">20+ Recently Added Jobs</h3>

    <div class="job-list-container">


        @foreach (var item in Model)
        {
            <div class="job-box">

                <div class="col-1">
                    <div class="img">
                        <img class="logo" src="../images/logo1.jpg" />
                    </div>
                    <div class="desc">
                        <a href="/Jobseeker/JobDetail/@item.Id" class="job-title">@item.JobTitle</a>
                        <h4 class="row-2">
                            <a href="">
                                <span class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                @item.JobLocation
                            </a>
                            <a href="">
                                <span class="icon">
                                    <i class="far fa-bookmark"></i>
                                </span>
                                @item.JobType
                            </a>
                            <a href="">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                Published On @item.JobPostingDate
                            </a>
                        </h4>

                    </div>
                    <a href="#" class="fav-btn">
                        <i class="fal fa-heart"></i>
                    </a>

                </div>

                <div class="col-2">

                    <h4 class="job-type">@item.JobType</h4>

                    <h2 class="salary">@item.JobSalary &#8377;</h2>

                </div>
            </div>
        }


    </div>

</div>


@section Scripts
{


    @if (TempData["loginSuccess"] != null)
    {
        <script>
            toastr.success('@TempData["loginSuccess"]');
        </script>
    }

    @if (Context.Session.GetString("userEmail") != null)
    {
        <script>
            toastr.success('@Context.Session.GetString("userEmail")');
            toastr.success('@Context.Session.GetString("userId")');
            toastr.success('@Context.Session.GetString("groupName")');
        </script>
    }


}