@model IEnumerable<JobPortal.Models.Job>

@{
    ViewData["Title"] = "Manage Jobs";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<div class="account-page-container">

    <partial name="_EmployerAccountSidebar" />

    <div class="manage-job-container">

        <div class="manage-job-box">

            <h3 class="heading">Manage Jobs</h3>

            @if (Model.Count() > 0)
            {
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td>Job Title</td>
                            <td>Applications</td>
                            <td>Date</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <div class="action-btn">
                                        <a class="view-btn" href="/Employer/JobDetail/@item.Id"><i class="fas fa-eye"></i></a>
                                        <a class="delete-btn" href="/Employer/DeleteJobRequest/@item.Id"><i class="fas fa-trash-alt"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <a href="/Employer/JobDetail/@item.Id" class="title">@item.JobTitle</a>
                                    <div class="job-desc">
                                        <a href="#">
                                            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                                            @item.JobLocation
                                        </a>
                                        <a href="#">
                                            <span class="icon"><i class="fas fa-bookmark"></i></span>
                                            @item.JobType
                                        </a>
                                        <a href="#">
                                            <span class="icon"><i class="fas fa-filter"></i></span>
                                            @item.JobCategory.CategoryName
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <a href="" class="job-applications" data-jobid="@item.Id">
                                        (@item.JobApplications) Applications
                                    </a>
                                </td>
                                <td>@item.JobPostingDate</td>

                                @if (item.JobStatus == 1)
                                {
                                    <td class="active">Active</td>
                                }
                                else
                                {
                                    <td class="inactive">Inactive</td>
                                }

                            </tr>

                        }

                    </tbody>
                </table>
            }
            else
            {
                <h3 style="text-align:center; margin-top: 30px">Jobs Not Available.</h3>
            }

        </div>

    </div>

</div>



@section Scripts
{

    @if (TempData["success"] != null)
    {
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }

<script>

        $(".account-page-container .manage-job-container .action-btn .delete-btn").click(function (e) {

            e.preventDefault();

            if (confirm("Are You Sure U Wan't Change Status To Inactive") == true) {


                let url = $(this).attr("href");

                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: {

                    },
                    success: function (res) {
                        if (res) {
                            location.reload();
                        }
                        else {
                            toastr.error("Something Wan't Wrong");
                        }
                    },
                    error: function (res) {
                        alert(res.responseText);
                    }
                });
            }

        });


    function loadJobApplications(jobId) {

        console.log(jobId);

        $.ajax({
            type: "POST",
            url: "/Employer/JobApplications",
            data: {
                jobId: jobId
            },
            success: function (res) {
                $(".account-page-container .manage-job-container").html(res);
            },
            error: function (res) {
                alert(res.responseText);
            }
        });

    }

    $(".account-page-container .manage-job-container .job-applications").click(function (e) {

        e.preventDefault();

        var jobId = $(this).data("jobid");

        loadJobApplications(jobId);

    });




    // ---------------- job application page script

    $(document).on("click", ".manage-job-box .heading .back-btn", function () {

        location.reload();
        
    });

    $(document).on("click", ".account-page-container .manage-job-container .action-btn .hire-btn",function (e) {

        e.preventDefault();

        if (confirm("Are You Sure U Wan't Hire This User") == true) {

            let appId = $(this).data("appid");
            let jobId = $(".account-page-container .manage-job-container .heading").data("jobid");

            $.ajax({
                type: "post",
                url: "/Employer/HireUserRequest",
                data: {
                    appId: appId
                },
                success: function (res) {
                    if (res) {
                        loadJobApplications(jobId);
                        toastr.success("Status Changed Successfully.");
                    }
                    else {
                        toastr.error("Something Wan't Wrong");
                    }
                },
                error: function (res) {
                    alert(res.responseText);
                }
            });
        }

    });


    $(document).on("click", ".account-page-container .manage-job-container .action-btn .reject-btn", function (e) {

        e.preventDefault();

        if (confirm("Are You Sure U Wan't Reject This Application") == true) {

            let appId = $(this).data("appid");
            let jobId = $(".account-page-container .manage-job-container .heading").data("jobid");

            $.ajax({
                type: "post",
                url: "/Employer/RejectUserRequest",
                data: {
                    appId: appId
                },
                success: function (res) {
                    if (res) {
                        loadJobApplications(jobId);
                        toastr.success("Status Changed Successfully.");
                    }
                    else {
                        toastr.error("Something Wan't Wrong");
                    }
                },
                error: function (res) {
                    alert(res.responseText);
                }
            });
        }

    });


</script>

}