@model IEnumerable<JobPortal.Models.Job>

@{
    ViewData["Title"] = "Search Jobs";
    Layout = "~/Views/Shared/_JobseekerLayout.cshtml";
}

<div class="search-header">

    <div class="container">

        <div class="box" style="text-align: center">

            <form class="inputs" method="get" action="/Jobseeker/SearchJobs">
                <input type="text" placeholder="Job Title" value="@Context.Request.Query["title"]" name="title" />
                <input type="text" placeholder="City or location" value="@Context.Request.Query["location"]" name="location" />
                <button type="submit">Search</button>
            </form>

            @*<h1 class="title">Jobs</h1>

        <h3 class="nav">
            <a href="/">Home</a>
            <span class="icon"><i class="fas fa-angle-right"></i></span>
            <span>Jobs</span>
        </h3>*@

        </div>

    </div>

</div>

<div class="job-all-container">

    <div class="title">
        <h1>
            Showing jobs for
            @{
                <span class="span">'@Context.Request.Query["title"]'</span>

                if (Context.Request.Query["location"] != "")
                {
                    <span class="span">'@Context.Request.Query["location"]'</span>
                }

                if (Context.Request.Query["category"] != "")
                {
                    <span class="span">'@Context.Request.Query["category"]'</span>
                }
            }
        </h1>

        <h1>@Model.Count() Jobs Found</h1>

    </div>


    <div class="job-list-container">


        @foreach (var item in Model)
        {
            <div class="job-box">
                <div class="col-1">
                    <div class="desc">
                        <a href="JobDetail/@item.Id" class="job-title">@item.JobTitle</a>
                        <h4 class="row-2">
                            <a href="">
                                <span class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                @item.JobLocation
                            </a>
                            <a href="">
                                <span class="icon">
                                    <i class="far fa-bookmark"></i>
                                </span>
                                @item.JobType
                            </a>
                            <a href="">
                                <span class="icon">
                                    <i class="far fa-clock"></i>
                                </span>
                                Published on @item.JobPostingDate
                            </a>
                        </h4>
                    </div>
                    <a href="#" class="fav-btn">
                        <i class="fal fa-heart"></i>
                    </a>
                </div>

                <div class="col-2">
                    <h4 class="job-type">
                        @item.JobType
                    </h4>
                    <h2 class="salary">
                        @item.JobSalary
                        &#8377;
                    </h2>
                </div>
            </div>

        }


    </div>


</div>
